h2 {
  font-family: Arial;
}

input {
  padding: 8px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #aaa;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.welcome {
  margin-top: 15px;
  padding: 10px;
  background: #c8f7c5;
  border-radius: 6px;
  font-weight: bold;
  width: fit-content;
}

.error {
  color: red;
  font-weight: bold;
}