.container {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 60%;
  margin: 10px auto;
  display: block;
}

.btn-login {
  background-color: #007bff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-login:hover {
  background-color: #0056b3;
}

.erreur {
  color: red;
  font-weight: bold;
}

.welcome-box {
  background-color: #e8f5e9;
  border: 2px solid #27ae60;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #1e7e34;
  border-radius: 12px;
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.add-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-add {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #1e7e34;
}

.tache-card {
  width: 60%;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  color: white;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-complete {
  padding: 6px 14px;
  background-color: #17a2b8;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn-delete {
  padding: 6px 14px;
  background-color: #dc3545;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #b21f2d;
}

.haute {
  background-color: #e53935;
}

.moyenne {
  background-color: #fb8c00;
}

.basse {
  background-color: #43a047;
}

.empty {
  font-style: italic;
  color: #777;
}